<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/scripts/forgotpassword.js"></script>
    <link rel="stylesheet" href="/styles/forgotpassword.css">
    <title>Forgotpassword</title>
</head>

<body>
    <form id="forgotform">
        <div class="maincontainer">
            <div class="subcontain">
                <div class="content1">
                    <span style="color:blue;">F</span>
                    <span style="color:red;">u</span>
                    <span style="color:rgba(255, 166, 0, 0.785);">n</span>
                    <span style="color:blue;">d</span>
                    <span style="color:green;">o</span><span style="color:red;">o</span>
                </div>
                <div class="text1">
                    <span>Forgot Password</span>
                </div>
                <div class="text2">
                    <span>Enter your recovery email</span>
                </div>
                <div class="content3">
                    <input id="name" class="get" placeholder=" " type="text" name="email" required>
                    <label id="user" for="Username">Email</label>
                </div>
                <div class="p8">
                    <button class="box6" ngClass.xs="box6-xs" mat-button>Next</button>
                </div>
            </div>
        </div>
    </form>


</body>

</html>