<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/scripts/resetpassword.js"></script>
    <link rel="stylesheet" href="/styles/resetpassword.css">
    <title>Document</title>
</head>

<body>
    <form id="resetform">
        <div class="maincontainer">
            <div class="subcontain">
                <div class="content1">
                    <span style="color:blue;">F</span>
                    <span style="color:red;">u</span>
                    <span style="color:rgba(255, 166, 0, 0.785);">n</span>
                    <span style="color:blue;">d</span>
                    <span style="color:green;">o</span>
                    <span style="color:red;">o</span>
                </div>
                <div class="text1">
                    <span>Reset Password</span>
                </div>
                <div class="content3">
                    <input id="name" class="get" placeholder=" " type="text" name="newPassword" required>
                    <label id="user" for="newPassword">New password</label>
                </div>
                <div class="content4">
                    <input id="host" class="let" placeholder=" " type="password" name="confirmPassword" required>
                    <label id="soft" for="password">Confirm Password</label>
                </div>
                <div class="content2">
                    <span>
                        At least 8 characters
                    </span>
                </div>
                <div class="p8">
                    <button class="box6">Reset</button>
                </div>
            </div>
        </div>
    </form>

</body>

</html>