<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/getnotes.js"></script>
    <link rel="stylesheet" href="/styles/getnotes.css">
    <title>Document</title>
</head>
<body>
    <div class="getnote">
        <div class="listnotes">
            <div class="titlediv">
                <div class="pushpindiv">
                    <p id="gettitle"></p>
                    <img id="pushpin" src="/assets/push_pin_FILL0_wght400_GRAD0_opsz48.svg" alt="" height="25px"
                        width="25px">
                </div>
                <div id="desc">
                    <p id="getdescription"></p>
                </div>
            </div>
            <div class="iconslist1">
                <div class="listicons1">
                    <img src="/assets/add_alert_FILL0_wght400_GRAD0_opsz48.svg" alt="" height="25px" width="25px">
                    <img src="/assets/person_add_FILL0_wght400_GRAD0_opsz48.svg" alt="" height="25px" width="25px">

                    <img src="/assets/palette_FILL0_wght400_GRAD0_opsz48.svg" alt="" height="25px" width="25px">

                    <img src="/assets/image_FILL0_wght400_GRAD0_opsz48.svg" alt="" height="25px" width="25px">

                    <img src="/assets/archive_FILL0_wght400_GRAD0_opsz48.svg" alt="" height="25px" width="25px">
                    <img src="/assets/more_vert_FILL0_wght400_GRAD0_opsz48.svg" alt="" height="25px" width="25px">
                </div>
            </div>
        </div>
    </div>
</body>
</html>