<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/scripts/dashboard.js"></script>
    <script src="/jquery/jquery-ui.js"></script>
    <link rel="stylesheet" href="/jquery/jquery-ui.css">
    <link rel="stylesheet" href="/jquery/jquery-ui.structure.css">
    <link rel="stylesheet" href="/jquery/jquery-ui.theme.css">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <title>Dashboard</title>
</head>

<body>
    <div class="main">
        <header class="header">
            <div class="innerhead">
                <div class="keep">
                    <img id="menu" src="/assets/menu_FILL0_wght400_GRAD0_opsz48.svg" height="25px" width="25px" alt=""
                        onclick="toggleNav()">
                    <img src="/assets/keep_2020q4_48dp.png" height="40px" width="38px" alt="">
                    <span class="keeptext">Keep</span>
                </div>
                <div class="search">
                    <div class="searchdiv">
                        <input class="searchinput" id="searchid" type="text" placeholder="search">
                        <img id="searchicon" src="/assets/search_FILL0_wght400_GRAD0_opsz48.svg" alt="" height="25px"
                            width="25px">
                    </div>
                    <img src="/assets/refresh_FILL0_wght400_GRAD0_opsz48.svg" height="25px" width="25px" alt="">
                    <div>
                    <img id="listview" class="gridview" src="/assets/view_agenda_FILL0_wght400_GRAD0_opsz48.svg"  height="25px" width="25px" alt="">
               <img id="grid" class="gridclass" style="display: none;"  src="/assets/grid_view_FILL0_wght400_GRAD0_opsz48.svg"  height="25px" width="25px"  alt="">
            </div>
                    <img src="/assets/settings_FILL0_wght400_GRAD0_opsz48.svg" height="25px" width="25px" alt="">
                </div>
                <div class="account">
                    <img src="/assets/apps_FILL0_wght400_GRAD0_opsz48.svg" height="25px" width="25px" alt="">
                    <img onclick="logout()" src="/assets/account_circle_FILL0_wght400_GRAD0_opsz48.svg" height="25px" width="25px" alt="">
                </div>
            </div>
        </header>
        <div class="container">
            <div class="sidenav" id="side">
                <div class="sidenavicons" id="sidenavicon"  tabindex=1 >
                    <img id="sidenavimg1" src="/assets/lightbulb_FILL0_wght400_GRAD0_opsz48.svg"  height="30px"
                        width="30px" alt="">
                    <label id="sidenavelabel" for="">Notes</label>
                </div>
                <div class="sidenavicons" id="sidenavicon" tabindex=2>
                    <img id="sidenavimg2" src="/assets/notifications_FILL0_wght400_GRAD0_opsz48.svg" height="30px"
                        width="30px" alt="">
                    <label id="sidenavelabel" for="">Remainder</label>
                </div>
                <div class="sidenavicons" id="sidenavicon" tabindex=4 onclick="editlabel()">
                    <img id="sidenavimg4" src="/assets/edit_FILL0_wght400_GRAD0_opsz48.svg" height="30px" width="30px"
                        alt="">
                    <label id="sidenavelabel" for="">Edit labels</label>
                </div>
                <div class="sidenavicons" onclick="getarchivenotes()" id="sidenavicon" tabindex=5>
                    <img id="sidenavimg5" src="/assets/archive_FILL0_wght400_GRAD0_opsz48.svg" height="30px"
                        width="30px" alt="">
                    <label id="sidenavelabel" for="">Archive</label>
                </div>
                <div class="sidenavicons" onclick="gettrashnote()" id="sidenavicon" tabindex=6>
                    <img id="sidenavimg6" src="/assets/delete_FILL0_wght400_GRAD0_opsz48.svg" height="30px" width="30px"
                        alt="">
                    <label id="sidenavelabel" for="">Trash</label>
                </div>
            </div>
            <div class="centerportion" id="centerpart">
                <div class="totalcreatediv">
                    <div class="createnote">
                        <form id="createnote">
                            <div class="inputpart">
                                <input id="title" type="text" placeholder="Title" name="title">
                                <div class="iconsoftitile">
                                    <div>
                                        <input type="text" id="description" placeholder="Take a note"
                                            name="description">
                                    </div>
                                    <div id="iconstitle">
                                        <img src="/assets/check_box_FILL0_wght400_GRAD0_opsz48.svg" alt="" height="25px"
                                            width="25px">
                                        <img src="/assets/brush_FILL0_wght400_GRAD0_opsz48.svg" alt="" height="25px"
                                            width="25px">
                                        <img src="/assets/image_FILL0_wght400_GRAD0_opsz48.svg" alt="" height="25px"
                                            width="25px">
                                    </div>
                                </div>
                            </div>
                            <div class="iconslist">
                                <div class="listicons">
                                    <img src="/assets/add_alert_FILL0_wght400_GRAD0_opsz48.svg" alt="" height="25px"
                                        width="25px">
                                    <img src="/assets/person_add_FILL0_wght400_GRAD0_opsz48.svg" alt="" height="25px"
                                        width="25px">

                                    <img src="/assets/palette_FILL0_wght400_GRAD0_opsz48.svg" alt="" height="25px"
                                        width="25px">

                                    <img src="/assets/image_FILL0_wght400_GRAD0_opsz48.svg" alt="" height="25px"
                                        width="25px">

                                    <img src="/assets/archive_FILL0_wght400_GRAD0_opsz48.svg" alt="" height="25px"
                                        width="25px">
                                    <img src="/assets/more_vert_FILL0_wght400_GRAD0_opsz48.svg" alt="" height="25px"
                                        width="25px">
                                </div>
                                <div>
                                    <button id="closebutton" type="submit">Close</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="uppergetnote" id="uppergetid">
                    <div class="getnote">

                    </div>
                </div>
            </div>

        </div>
        <div class="colorbox">

        </div>

    </div>
    <div id="methods" style="display: none;">
    </div>
    <div id="editlabel" style="display: none;" >
        <div class="titleeditlabel">
            <p>Edit Labels</p>
        </div>
        <div class="contenteditlabel">
            <img src="/assets/close_FILL0_wght400_GRAD0_opsz48.svg" alt="" class="close">
            <input id="inputeditlabel" type="text" placeholder="Create new label">
            
            <img id="Donebutton" src="/assets/done_FILL0_wght400_GRAD0_opsz48.svg" alt="" class="done">
            </div>
           <div class="createdlabel" id="getlabellist">
           </div>
            <div><button class="buttondone">Done</button></div>
    </div>  
  
</body>

</html>