.main {
    height: auto;
    width: auto;
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

.header {
    margin: -11px;
    height: 70px;
    width: 1280px;
    display: flex;
    flex-direction: row;
    border: 1px solid gainsboro;
    align-items: center;
    justify-content: baseline;

}

.innerhead {
    height: 40px;
    width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid red;
}

.keep {
    height: 40px;
    width: 200px;
    border: 0px solid red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.keeptext {
    color: #5f6368;
    opacity: 1;
    font-family: "Product Sans", Arial, sans-serif;
    font-size: 22px;
    line-height: 24px;
}

.search {
    height: 60px;
    width: 800px;
    border: 0px solid red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.searchdiv {
    height: 50px;
    width: 500px;
    border: 0px solid red;
    background-color: #5f63680e;
    border-radius: 10px;
}

.searchinput {
    height: 45px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 20px;
    min-height: 28px;
    background: none;
    position: relative;
    left: 34px;
}

#searchicon {
    position: absolute;
    font-size: 1rem;
    left: 245px;
    top: 22px;
}

.account {
    height: 40px;
    width: 200px;
    border: 0px solid red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sidenav {
    height: 500px;
    width: 250px;
    border: 0px solid red;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: -20px;
    z-index: 2;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenavicons {
    height: 40px;
    width: 250px;
    border: 0px solid red;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sidenavicons:hover {
    background-color: #feefc3;
    border-radius: 0px 20px 20px 0px;
}

#sidenavelabel {
    height: 40px;
    width: 150px;
    display: flex;
    font-weight: 500;
    font-family: "Roboto", arial, sans-serif;
    font-size: 15px;
    border: 0px solid red;
    align-items: center;
    color: #101112e8;
    justify-content: flex-start;
}

#sidenavimg1 #sidenavimg2 #sidenavimg3 #sidenavimg4 #sidenavimg5 #sidenavimg6 {
    height: 30px;
    width: 30px;
    display: flex;
    border: 0px solid red;
    /* position: relative;
    left: 40px; */
}

#menu {
    cursor: pointer;
    font-size: 24px;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.centerportion{
    height: 500px;
    width: 759px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
}
.createnote {
    height: 120px;
    width: 600px;
    border: 1px solid gainsboro;
    margin: 40px;
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 10%);
    border-radius: 5px;
    position: relative;
    left: 200px;
}

.iconsoftitile {
    height: 35px;
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputpart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    height: 35px;
    width: 96%;
    font-size: 16px;
    outline: none;
    border: none;
    border: 0px solid red;
}

#description {
    height: 35px;
    width: 96%;
    font-size: 16px;
    outline: none;
    border: none;
    border: 0px solid red;
}

#closebutton {
    border: none;
    background: none;
    position: relative;
    right: 20px;
}

.iconslist {
    height: 45px;
    width: 100%;
    border: 0px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listicons {
    height: 45px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.getnote{
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    margin-left: 5%;
   flex-flow: row wrap;
    cursor: pointer;
    z-index: 1;

}
#someId {
    border: 1px solid red;
}

.listnotes {
    width: 250px;
    max-height: 130px;
    margin: 15px auto 16px auto;
    border: 1px solid rgb(186, 184, 184);
     padding:8px;
    border-radius: 8px;
    box-sizing: border-box;
}

.titlediv {
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pushpindiv {
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#gettitle {
    height: 30px;
    width: 100%;
    font-weight: 600;
}

#getdescription {
    height: 30px;
    width: 100%;
}

.iconslist1 {
    height: 45px;
    width: 100%;
    border: 0px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listicons1 {
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pushpin {
    visibility: hidden;
}

.listnotes:hover #pushpin {
    visibility: visible;
}

.listicons1 {
    visibility: hidden;
}

.listnotes:hover .listicons1 {
    visibility: visible;
}
.title{
    border: 1px solid red;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown{
    cursor: pointer;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
  }
  .colour{
    height: 50px;
    width: 50px;
   border: 0px solid blue;
  display: flex;
  justify-content: space-around;
}

.colors{
height: 40px;
width: 40px;
border-radius: 100px;
border: 0px solid red;
}
.colorbox{
    display: flex;
    height: 50px;
    width: 200px;
    border: 0px solid red;
    flex-direction: row;
    flex-wrap: wrap;
}