.maincontainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    border: 0px solid gainsboro;
    align-items: center;
    justify-content: center;

}

.subcontain {
    height: 500px;
    width: 450px;
    display: flex;
    border: 1px solid gainsboro;
    border-radius: 10px;
    flex-direction: column;
}

.content1 {
    height: 12%;
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    border: 0px solid black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.text1 {
    height: 10%;
    width: 100%;
    display: flex;
    font-size: 20px;
    border: 0px solid gainsboro;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

.text2 {
    height: 8%;
    width: 100%;
    display: flex;
    font-size: 17px;
    border: 0px solid gainsboro;
    font-weight: 200;
    align-items: flex-start;
    justify-content: center;
}

.textfield {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid gainsboro;
}

.field1 {
    width: 80%;
}

.p8 {
    height: 100px;
    width: 440px;
    display: flex;
    border: 0px solid blue;
    align-items: flex-end;
    justify-content: flex-end;
}

.box6 {
    height: 30%;
    width: 20%;
    border: 0px;
    border-radius: 5px;
    background: 1px rgb(0, 115, 255);
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.content3 {
    position: relative;
    top: 20px;
    left: 30px;
 }
 
 #user {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 48%;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
 }
 
 #name {
    font-size: 1rem;
    outline: none;
    width: 370px;
    height: 15px;
    border: 1px solid rgba(128, 128, 128, 0.587);
    border-radius: 5px;
    padding: 1rem 0.7rem;
    color: gray;
    transition: 0.1s ease-out;
 }
 
 #name:focus {
    border-color: #6200EE;
 }
 
 #name:focus+#user {
    color: #6200EE;
    top: 0;
    transform: translateY(-50%) scale(.9);
 }
 
 #name:not(:placeholder-shown)+#user {
    top: 0;
    transform: translateY(-50%) scale(.9);
 }
 