.maindiv {
    margin: -8px;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid red;
    padding: 0px;
}

.subdiv {
    height: 500px;
    width: 776px;
    display: flex;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.content {
    height: 100%;
    width: 55%;
    border: 0px solid red;
}

.logo {
    height: 100%;
    width: 45%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid firebrick;
}

img {
    height: 240px;
    width: 240px;
}

p {
    font-size: large;
    font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    color: rgba(0, 0, 0, 0.721);
}

.para {
    border: 0px solid red;
    width: 70%;
    text-align: center;
}

.content1 {
    height: 12%;
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    position: relative;
    left: 30px;
    top: 20px;
}

.content2 {
    height: 10%;
    width: 60%;
    font-size: 20px;
    font-weight: 200;
    position: relative;
    left: 30px;
    border: 0px solid gainsboro;

}

.content3 {
    height: 12%;
    width: 95%;
    border: 0px solid gainsboro;
    display: flex;
    position: relative;
    left: 25px;
}

.content4 {
    height: 10%;
    width: 95%;
    border: 0px solid gainsboro;
    display: flex;
    position: relative;
    left: 32px;
    color: rgb(86, 82, 82);
    font-size: 14px;
}

.content5 {
    height: 5%;
    width: 95%;
    border: 0px solid gainsboro;
    display: flex;
    color: blue;
    position: relative;
    left: 32px;
    top: -20px;
}

.content6 {
    height: 22%;
    width: 100%;
    display: flex;
    border: 0px solid gainsboro;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 20px;
}

.content7 {
    height: 8%;
    width: 78%;
    border: 0px solid gainsboro;
    display: flex;
    color: rgb(86, 82, 82);
    font-size: 14px;
    position: relative;
    left: 32px;
}

.subcon {
    height: 10%;
    width: 100%;
    border: 0px solid gainsboro;
    position: relative;
    left: 15px;
}

.box {
    display: flex;
    border: 0px solid blue;
    color: rgb(86, 82, 82);
    position: relative;
    left: 30px;
}

.box2 {
    height: 10%;
    width: 100%;
    display: flex;
    border: 0px solid gainsboro;
}

.box3 {
    height: 40%;
    width: 40%;
    border: 0px;
    background: 0px;
    color: rgb(0, 115, 255);
    font-size: 15px;
    font-weight: 600;
    position: relative;
    top: 40px;
}

.box4 {
    height: 55%;
    width: 16%;
    border: 0px;
    color: white;
    background-color: rgb(0, 115, 255);
    border-radius: 5px;
    position: relative;
    top: 40px;
    left: 190px;
}

.con1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.material-textfield {
    position: relative;
    left: 30px;
}

#get {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
}

#let {
    font-size: 1rem;
    outline: none;
    width: 170px;
    height: 10px;
    border: 1px solid rgba(128, 128, 128, 0.587);
    border-radius: 5px;
    padding: 1rem 0.7rem;
    color: gray;
    transition: 0.1s ease-out;
}

#let:focus {
    border-color: #6200EE;
}

#let:focus+#get {
    color: #6200EE;
    top: 0;
    transform: translateY(-50%) scale(.9);
}

#let:not(:placeholder-shown)+#get {
    top: 0;
    transform: translateY(-50%) scale(.9);
}

.material-textfield1 {
    position: relative;
}

#soft {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
}

#host {
    font-size: 1rem;
    outline: none;
    width: 170px;
    height: 10px;
    border: 1px solid rgba(128, 128, 128, 0.587);
    border-radius: 5px;
    padding: 1rem 0.7rem;
    color: gray;
    transition: 0.1s ease-out;
}

#host:focus {
    border-color: #6200EE;
}

#host:focus+#soft {
    color: #6200EE;
    top: 0;
    transform: translateY(-50%) scale(.9);
}

#host:not(:placeholder-shown)+#soft {
    top: 0;
    transform: translateY(-50%) scale(.9);
}

.content3 {
    position: relative;
    top: 20px;
    left: 30px;
}

#user {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 35%;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
}

#name {
    font-size: 1rem;
    outline: none;
    width: 370px;
    height: 10px;
    border: 1px solid rgba(128, 128, 128, 0.587);
    border-radius: 5px;
    padding: 1rem 0.7rem;
    color: gray;
    transition: 0.1s ease-out;
}

#name:focus {
    border-color: #6200EE;
}

#name:focus+#user {
    color: #6200EE;
    top: 0;
    transform: translateY(-50%) scale(.9);
}

#name:not(:placeholder-shown)+#user {
    top: 0;
    transform: translateY(-50%) scale(.9);
}

form {
    border: 0px solid red;
    height: 100%;
    width: 100%;
}

.material-textfield {
    position: relative;
    left: 30px;
}

.word {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
}

.pass {
    font-size: 1rem;
    outline: none;
    width: 170px;
    height: 10px;
    border: 1px solid rgba(128, 128, 128, 0.587);
    border-radius: 5px;
    padding: 1rem 0.7rem;
    color: gray;
    transition: 0.1s ease-out;
}

.pass:focus {
    border-color: #6200EE;
}

.pass:focus+.word {
    color: #6200EE;
    top: 0;
    transform: translateY(-50%) scale(.9);
}

.pass:not(:placeholder-shown)+.word {
    top: 0;
    transform: translateY(-50%) scale(.9);
}

.material-textfield {
    position: relative;
    left: 30px;
}

.password {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
}

.confirm {
    font-size: 1rem;
    outline: none;
    width: 170px;
    height: 10px;
    border: 1px solid rgba(128, 128, 128, 0.587);
    border-radius: 5px;
    padding: 1rem 0.7rem;
    color: gray;
    transition: 0.1s ease-out;
}

.confirm:focus {
    border-color: #6200EE;
}

.confirm:focus+.password {
    color: #6200EE;
    top: 0;
    transform: translateY(-50%) scale(.9);
}

.confirm:not(:placeholder-shown)+.password {
    top: 0;
    transform: translateY(-50%) scale(.9);
}
.popup{
    width: 400px;
    background: #ffff;
    border-radius: 6px;
    position: absolute;
    border:1px solid gainsboro;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s,top 0.4s;
 }
 .open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
 }
 .popup h2{
    font-size: 30px;
    font-weight: 500;
    margin: 30px 0 10px;
 
 }
 .popup button{
    width: 30%;
    margin-top: 50px;
    padding: 10px 0;
    background: blue;
    color: #ffff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgb(0, 0,0, 0.2);
 }
@media (device-width: 768px) and (device-height: 1024px) {
    .logo {
        display: none;
    }

    .subdiv {
        width: 450px;
        height: 600px;
    }

    .content {
        width: 100%;
    }

    .con1 {
        width: 430px;
    }

    #name {
        width: 380px;
    }

    .box4 {
        position: relative;
        left: 160px;
    }
}
@media (device-width: 800px) and (device-height: 1280px) {
    .logo {
        display: none;
    }

    .subdiv {
        width: 450px;
        height: 600px;
    }

    .content {
        width: 100%;
    }

    .con1 {
        width: 430px;
    }

    #name {
        width: 380px;
    }

    .box4 {
        position: relative;
        left: 160px;
    }
}

@media (device-width: 360px) and (device-height: 640px) {
    .logo {
        display: none;
    }

    .subdiv {
        position: relative;
        left: 30px;
        width: 400px;
        height: 600px;
        border: none;
    }

    .content {
        width: 100%;
    }

    .con1 {
        width: 430px;
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #let {
        width: 350px;
    }

    #host {
        width: 350px;
    }

    #name {
        width: 350px;
    }

    #password {
        width: 350px;
    }

    #pass {
        width: 350px;
    }

    .box4 {
        position: relative;
        left: 160px;
    }

    .material-textfield1 {
        position: relative;
        left: 30px;
    }
}
@media (device-width: 360px) and (device-height: 740px) {
    .logo {
        display: none;
    }

    .subdiv {
        position: relative;
        left: 30px;
        width: 400px;
        height: 600px;
        border: none;
    }

    .content {
        width: 100%;
    }

    .con1 {
        width: 430px;
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #let {
        width: 350px;
    }

    #host {
        width: 350px;
    }

    #name {
        width: 350px;
    }

    #password {
        width: 350px;
    }

    #pass {
        width: 350px;
    }

    .box4 {
        position: relative;
        left: 160px;
    }

    .material-textfield1 {
        position: relative;
        left: 30px;
    }
}
@media (device-width: 320px) and (device-height: 658px) {
    .logo {
        display: none;
    }

    .subdiv {
        position: relative;
        left: 30px;
        width: 400px;
        height: 600px;
        border: none;
    }

    .content {
        width: 100%;
    }

    .con1 {
        width: 430px;
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #let {
        width: 350px;
    }

    #host {
        width: 350px;
    }

    #name {
        width: 350px;
    }

    #password {
        width: 350px;
    }

    #pass {
        width: 350px;
    }

    .box4 {
        position: relative;
        left: 160px;
    }

    .material-textfield1 {
        position: relative;
        left: 30px;
    }
}
@media (device-width: 384px) and (device-height: 640px) {
    .logo {
        display: none;
    }

    .subdiv {
        position: relative;
        left: 30px;
        width: 400px;
        height: 600px;
        border: none;
    }

    .content {
        width: 100%;
    }

    .con1 {
        width: 430px;
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #let {
        width: 350px;
    }

    #host {
        width: 350px;
    }

    #name {
        width: 350px;
    }

    #password {
        width: 350px;
    }

    #pass {
        width: 350px;
    }

    .box4 {
        position: relative;
        left: 160px;
    }

    .material-textfield1 {
        position: relative;
        left: 30px;
    }
}
@media (device-width: 600px) and (device-height: 1024px) {
    .logo {
        display: none;
    }
    .maindiv {
        margin: -8px;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        border: 0px solid red;
        padding: 0px;
    }
    .subdiv {
        width: 600px;
        height: 800px;
        border:0px solid red;
    }

    .content {
        width: 100%;
    }
.content2{
    position: relative;
    top: 0px;
}
.content1{
    font-size: 33px;
    position: relative;
    top: 36px;
}
    .con1 {
        width: 430px;
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #let {
        width: 500px;
    }

    #host {
        width: 500px;
    }

    #name {
        width: 500px;
    }

    #password {
        width: 500px;
    }

    #pass {
        width: 500px;
    }
    .box3{
        position: relative;
        left: -31px;
    }

    .box4 {
        position: relative;
        left: 207px;
    }

    .material-textfield1 {
        position: relative;
        left: 30px;
    }
}