.main {
    height: auto;
    width: auto;
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

.header {
    margin: -11px;
    height: 70px;
    width: 1280px;
    display: flex;
    flex-direction: row;
    border: 1px solid gainsboro;
    align-items: center;
    justify-content: baseline;

}

.innerhead {
    height: 40px;
    width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid red;
}

.keep {
    height: 40px;
    width: 200px;
    border: 0px solid red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.keeptext {
    color: #5f6368;
    opacity: 1;
    font-family: "Product Sans", Arial, sans-serif;
    font-size: 22px;
    line-height: 24px;
}

.search {
    height: 60px;
    width: 800px;
    border: 0px solid red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.searchdiv {
    height: 50px;
    width: 500px;
    border: 0px solid red;
    background-color: #5f63680e;
    border-radius: 10px;
}

.searchinput {
    height: 45px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 20px;
    min-height: 28px;
    background: none;
    position: relative;
    left: 34px;
}

#searchicon {
    position: absolute;
    font-size: 1rem;
    left: 245px;
    top: 22px;
}

.account {
    height: 40px;
    width: 200px;
    border: 0px solid red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sidenav {
    height: 500px;
    width: 250px;
    border: 0px solid red;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: -20px;
    z-index: 2;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenavicons {
    height: 40px;
    width: 250px;
    border: 0px solid red;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sidenavicons:hover{
    background-color: rgba(0, 0, 0, 0.037);
    border-radius: 0px 20px 20px 0px;
  }
  
  .sidenavicons:focus, .sidenavicons:active{
    background-color: #feefc3;
    border-radius: 0px 20px 20px 0px;
  }

#sidenavelabel {
    height: 40px;
    width: 150px;
    display: flex;
    font-weight: 500;
    font-family: "Roboto", arial, sans-serif;
    font-size: 15px;
    border: 0px solid red;
    align-items: center;
    color: #101112e8;
    justify-content: flex-start;
}

#sidenavimg1 #sidenavimg2 #sidenavimg3 #sidenavimg4 #sidenavimg5 #sidenavimg6 {
    height: 30px;
    width: 30px;
    display: flex;
    border: 0px solid red;
    /* position: relative;
    left: 40px; */
}

#menu {
    cursor: pointer;
    font-size: 24px;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.centerportion {
    height: auto;
    width: 78vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
}

.iconsoftitile {
    height: 35px;
    width: 96%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.inputpart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    height: 35px;
    width: 96%;
    font-size: 16px;
    outline: none;
    border: none;
    border: 0px solid red;
}

#description {
    height: 35px;
    width: 96%;
    font-size: 16px;
    outline: none;
    border: none;
    border: 0px solid red;
}

#closebutton {
    border: none;
    background: none;
    position: relative;
    right: 20px;
}
.close{
    border: none;
    background: none;
    position: relative;
    right: 20px;
}

.iconslist {
    height: 45px;
    width: 100%;
    border: 0px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listicons {
    height: 45px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.uppergetnote{
    height: auto;
    width: 100%;
    margin: 0px;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 0%;
    margin-right: 5%;
   flex-flow: row wrap;
   flex-grow: unset;
    cursor: pointer;
}
.getnote {
    height: auto;
    width: auto;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    margin-left: 5%;
    flex-wrap: wrap;
    cursor: pointer;
}

#someId {
    border: 1px solid red;
}

.listnotes {
    width: 219px;
    max-height: 130px;
    margin: 15px auto 16px auto;
    border: 1px solid rgb(186, 184, 184);
    padding: 8px;
    border-radius: 8px;
    box-sizing: border-box;
}

.titlediv {
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pushpindiv {
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.gettitle {
    height: 30px;
    width: 100%;
    font-weight: 600;
}

.getdescription {
    height: 30px;
    width: 100%;
}

.iconslist1 {
    height: 45px;
    width: 100%;
    border: 0px solid red;
    display: flex;
    align-items: center;
    justify-content: space-betwee;
}

.listicons1 {
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
}

#pushpin {
    visibility: hidden;
}

.listnotes:hover #pushpin {
    visibility: visible;
}

.listicons1 {
    visibility: hidden;
}

.listnotes:hover .listicons1 {
    visibility: visible;
}

.title {
    border: 1px solid red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown {
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

.colour {
    height: 50px;
    width: 50px;
    border: 0px solid blue;
    display: flex;
    justify-content: space-around;
}

.dropdown-content1 {
    display: none;
    flex-direction: row;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    max-height: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content1 #list {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown1 {
    cursor: pointer;
}

.dropdown1:hover .dropdown-content1 {
    height: 300px;
    width: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    cursor: pointer;
}

.list1 {
    height: 45px;
    width: 45px;
    display: flex;
    /* background:violet; */
    flex-flow: row wrap;
    border-radius: 120px;
    justify-content: space-between;
    align-items: center;
}
.list2 {
    height: 45px;
    width: 45px;
    display: flex;
    /* background: rgba(76, 0, 130, 0.281); */
    flex-flow: row wrap;
    border-radius: 120px;
    justify-content: space-between;
    align-items: center;
}
.list3 {
    height: 45px;
    width: 45px;
    display: flex;
    /* background:rgba(0, 234, 255, 0.347); */
    flex-flow: row wrap;
    border-radius: 120px;
    justify-content: space-between;
    align-items: center;
}
.list4 {
    height: 45px;
    width: 45px;
    display: flex;
    /* background: rgba(0, 128, 0, 0.265); */
    flex-flow: row wrap;
    border-radius: 120px;
    justify-content: space-between;
    align-items: center;
}
.list5 {
    height: 45px;
    width: 45px;
    display: flex;
    /* background: rgba(255, 255, 0, 0.315); */
    flex-flow: row wrap;
    border-radius: 120px;
    justify-content: space-between;
    align-items: center;
}
.list6 {
    height: 45px;
    width: 45px;
    display: flex;
    /* background:rgba(255, 166, 0, 0.276); */
    flex-flow: row wrap;
    border-radius: 120px;
    justify-content: space-between;
    align-items: center;
}
.list7 {
    height: 45px;
    width: 45px;
    display: flex;
    /* background: rgba(255, 25, 0, 0.201); */
    flex-flow: row wrap;
    border-radius: 120px;
    justify-content: space-between;
    align-items: center;
}
.list8 {
    height: 45px;
    width: 45px;
    display: flex;
    /* background: pink; */
    flex-flow: row wrap;
    border-radius: 120px;
    justify-content: space-between;
    align-items: center;
}
.list9 {
    height: 45px;
    width: 45px;
    display: flex;
    /* background: white; */
    flex-flow: row wrap;
    border-radius: 120px;
    justify-content: space-between;
    align-items: center;
}
.colors {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    border: 0px solid red;
}

.colorbox {
    display: flex;
    height: 50px;
    width: 200px;
    border: 0px solid red;
    flex-direction: row;
    flex-wrap: wrap;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

.ui-dialog-titlebar {
    background: none;
    border: none;
    outline: none;
}

#example {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
}

#example div {
    width: 350px;
    height: 80px;
    margin: 100px auto;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #666666;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    border: 3px solid #cccccc;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.updatetitle{
outline: none;
border: none;
background: none;
position: relative;
bottom: 20px;
font-weight: 600;
font-size: 15px;
}
.updatedesc{
    outline: none;
border: none;
background: none;
position: relative;
bottom: 20px;
font-size: 15px;
}